---
// import Background from "./jsx/background.jsx";
// const { bg } = Astro.props;
---

<!-- <Background image={bg} /> -->
<section
  class="relative h-full bg-gradient-to-r from-emerald-300 to-emerald-700"
>
</section>
