---
---

<section id="services" class="relative w-full">
  <div class="container mx-auto lg:pr-56 lg:pl-56 pr-10 pl-10 pt-28 pb-28">
    <div
      class="pb-20 flex flex-col justify-center flex-shrink-0 w-full h-full max-w-xl space-y-5 text-gray-800"
    >
      <h1 class="text-5xl font-black xl:text-5xl">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r from-blue-800 to-blue-600"
          >Nuestros Servicios
        </span>
      </h1>
      <p class="text-xl text-gray-900">
        Diseño, suministro, construcción y operación de proyectos de generación
        a partir de Fuentes no Convencionales de Energía. Sistemas autónomos,
        interconectados a la red y sistemas mixtos para el sector rural,
        comercial, industrial y residencial.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      <div class="flex flex-col bg-slate-200 p-10 rounded-lg drop-shadow-xl">
        <div class="flex justify-center items-center pb-5 place-content-start">
          <img
            src="https://cdn3d.iconscout.com/3d/premium/thumb/lady-construction-worker-standing-5368588-4487779.png"
            alt="icono 1"
            class="w-72 content-center transition ease-out delay-10 hover:-translate-y-1 hover:scale-110 duration-300"
          />
        </div>
        <div class="flex justify-center items-center pb-5 place-content-end">
          <h2 class="text-lg lg:text-lg xl:text-lg 2xl:text-xl font-bold items-center text-center">
            <span
              class="uppercase text-transparent bg-clip-text bg-gradient-to-r from-zinc-800 to-zinc-600"
              >Interventoria y Consultoría
            </span>
          </h2>
        </div>
      </div>
      <div class="flex flex-col bg-slate-200 p-10 rounded-lg drop-shadow-xl">
        <div class="flex justify-center items-center pb-5 place-content-start">
          <img
            src="https://cdn3d.iconscout.com/3d/premium/thumb/solar-energy-5023774-4185523.png"
            alt="icono 2"
            class="w-72 content-center transition ease-out delay-10 hover:-translate-y-1 hover:scale-110 duration-300"
          />
        </div>
        <div class="flex justify-center items-center pb-5 place-content-end">
          <h2 class="text-lg lg:text-lg xl:text-lg 2xl:text-xl font-bold items-center text-center">
            <span
              class="uppercase text-transparent bg-clip-text bg-gradient-to-r from-zinc-800 to-zinc-600"
              >Generación y Comercialización de energía
            </span>
          </h2>
        </div>
      </div>
      <div class="flex flex-col bg-slate-200 p-10 rounded-lg drop-shadow-xl">
        <div class="flex justify-center items-center pb-5 place-content-start">
          <img
            src="https://cdn3d.iconscout.com/3d/premium/thumb/transmission-tower-4785769-3992625.png"
            alt="icono 3"
            class="w-72 content-center transition ease-out delay-10 hover:-translate-y-1 hover:scale-110 duration-300"
          />
        </div>
        <div class="flex justify-center items-center pb-5 place-content-end">
          <h2 class="text-lg lg:text-lg xl:text-lg 2xl:text-xl font-bold items-center text-center">
            <span
              class="uppercase text-transparent bg-clip-text bg-gradient-to-r from-zinc-800 to-zinc-600"
              >Obras Eléctricas
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
